@{
    ViewBag.Title = "Müşteri Bilgileri";
}




<h2>@ViewData["Title"]</h2>
<div>
    <h1>Hello About us:</h1>
    <p>qwertyuıopğasdfghjklşizxcbvnmöç</p>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
