@{
    ViewBag.Title = "Müşteri Bilgileri";
}



@{
    ViewBag.Title = "Contact Sayfası";
}

<h2>@ViewData["Title"]</h2>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

